@font-face {
  font-family: 'get-schwifty';
  src: url("../fonts/get_schwifty.ttf");
}

h2 {
  font-family: 'get-schwifty', sans-serif;
}

.row {
  display: flex;
}

.column-third {
  width: calc(100 / 3);
}

.nav-bar {
  background-color: #787878;
}

.column-full {
  width: 100%;
}

.search-bar {
  text-align: center;
  color: white;
}

.back-ground {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhLpoEJvsK9kL9VM7oTaN0KN9epBVIujfnzg&usqp=CAU);
}
